@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfdff;
  --foreground: #03101e;
  --button: #6400c1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #03101e;
    --foreground: #fbfdff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
