.home-right .bol{background-color:var(--logo);border: 2px solid var(--border);display:inline-block;opacity:1;width:40px;height:40px;border-radius:50%;position:absolute;z-index:8}

.home-right .bol-1 {
    left: 15%;
    top: 18%;
    animation: 8.5s infinite bounce-1;
    transform: translate(0, 0) scale(1.66);
  }
  
  .home-right .bol-2 {
    left: 94%;
    top: 81%;
    animation: 9.3s infinite bounce-2;
    transform: translate(0, 0) scale(0.59);
  }
  
  .home-right .bol-3 {
    left: 20%;
    top: 91%;
    animation: 10.1s infinite bounce-3;
    transform: translate(0, 0) scale(1.44);
  }
  
  .home-right .bol-4 {
    left: 90%;
    top: 91%;
    animation: 11.2s infinite bounce-4;
    transform: translate(0, 0) scale(0.73);
  }
  
  .home-right .bol-5 {
    left: 14%;
    top: 67%;
    animation: 12.3s infinite bounce-5;
    transform: translate(0, 0) scale(1.97);
  }
  
  .home-right .bol-6 {
    left: 19%;
    top: 72%;
    animation: 13.4s infinite bounce-6;
    transform: translate(0, 0) scale(1.83);
  }
  
  .home-right .bol-7 {
    left: 9%;
    top: 74%;
    animation: 14.5s infinite bounce-7;
    transform: translate(0, 0) scale(0.62);
  }
  
  .home-right .bol-8 {
    left: 54%;
    top: 91%;
    animation: 15.6s infinite bounce-8;
    transform: translate(0, 0) scale(1.8);
  }
  
  .home-right .bol-9 {
    left: 39%;
    top: 7%;
    animation: 16.7s infinite bounce-9;
    transform: translate(0, 0) scale(0.97);
  }
  
  .home-right .bol-10 {
    left: 61%;
    top: 81%;
    animation: 17.8s infinite bounce-10;
    transform: translate(0, 0) scale(1.57);
  }
  
  .home-right .bol-11 {
    left: 93%;
    top: 69%;
    animation: 18.9s infinite bounce-11;
    transform: translate(0, 0) scale(0.51);
  }
  
  .home-right .bol-12 {
    left: 94%;
    top: 7%;
    animation: 19.0s infinite bounce-12;
    transform: translate(0, 0) scale(0.81);
  }
  
  .home-right .bol-13 {
    left: 94%;
    top: 41%;
    animation: 20.1s infinite bounce-13;
    transform: translate(0, 0) scale(1.3);
  }
  
  .home-right .bol-14 {
    left: 6%;
    top: 36%;
    animation: 21.2s infinite bounce-14;
    transform: translate(0, 0) scale(2.01);
  }
  
  .home-right .bol-15 {
    left: 80%;
    top: 23%;
    animation: 22.3s infinite bounce-15;
    transform: translate(0, 0) scale(0.55);
  }
  
  .home-right .bol-16 {
    left: 31%;
    top: 86%;
    animation: 23.4s infinite bounce-16;
    transform: translate(0, 0) scale(0.16);
  }
  
  .home-right .bol-17 {
    left: 77%;
    top: 35%;
    animation: 24.5s infinite bounce-17;
    transform: translate(0, 0) scale(0.92);
  }
  
  .home-right .bol-18 {
    left: 5%;
    top: 85%;
    animation: 25.6s infinite bounce-18;
    transform: translate(0, 0) scale(0.78);
  }
  
  .home-right .bol-19 {
    left: 73%;
    top: 80%;
    animation: 26.7s infinite bounce-19;
    transform: translate(0, 0) scale(0.34);
  }
  
  .home-right .bol-20 {
    left: 50%;
    top: 55%;
    animation: 27.8s infinite bounce-20;
    transform: translate(0, 0) scale(0.22);
  }
  
  .home-right .bol-21 {
    left: 49%;
    top: 66%;
    animation: 28.9s infinite bounce-21;
    transform: translate(0, 0) scale(0.26);
  }
  
  .home-right .bol-22 {
    left: 83%;
    top: 9%;
    animation: 29.0s infinite bounce-22;
    transform: translate(0, 0) scale(0.88);
  }
  
  .home-right .bol-23 {
    left: 26%;
    top: 28%;
    animation: 30.1s infinite bounce-23;
    transform: translate(0, 0) scale(0.53);
  }
  
  .home-right .bol-24 {
    left: 65%;
    top: 94%;
    animation: 31.2s infinite bounce-24;
    transform: translate(0, 0) scale(0.23);
  }
  
  .home-right .bol-25 {
    left: 41%;
    top: 91%;
    animation: 32.3s infinite bounce-25;
    transform: translate(0, 0) scale(1.57);
  }
  
  .home-right .bol-26 {
    left: 12%;
    top: 87%;
    animation: 33.4s infinite bounce-26;
    transform: translate(0, 0) scale(0.54);
  }
  
  .home-right .bol-27 {
    left: 39%;
    top: 47%;
    animation: 34.5s infinite bounce-27;
    transform: translate(0, 0) scale(1.64);
  }
  
  .home-right .bol-28 {
    left: 61%;
    top: 10%;
    animation: 35.6s infinite bounce-28;
    transform: translate(0, 0) scale(0.79);
  }
  
  .home-right .bol-29 {
    left: 89%;
    top: 87%;
    animation: 36.7s infinite bounce-29;
    transform: translate(0, 0) scale(0.57);
  }
  
  .home-right .bol-30 {
    left: 5%;
    top: 5%;
    animation: 37.8s infinite bounce-30;
    transform: translate(0, 0) scale(1.73);
  }

@keyframes bounce-1{60%{transform:translate(-86%,-21%)}}
@keyframes bounce-2{47%{transform:translate(-60%,-38%)}}
@keyframes bounce-3{40%{transform:translate(-19%,-74%)}}
@keyframes bounce-4{41%{transform:translate(-12%,-39%)}}
@keyframes bounce-5{48%{transform:translate(-97%,-58%)}}
@keyframes bounce-6{52%{transform:translate(-9%,-36%)}}
@keyframes bounce-7{59%{transform:translate(-16%,-42%)}}
@keyframes bounce-8{42%{transform:translate(-41%,-72%)}}
@keyframes bounce-9{39%{transform:translate(-42%,-8%)}}
@keyframes bounce-10{53%{transform:translate(-99%,-71%)}}
@keyframes bounce-11{59%{transform:translate(-49%,-88%)}}
@keyframes bounce-12{59%{transform:translate(-89%,-7%)}}
@keyframes bounce-13{53%{transform:translate(-76%,-24%)}}
@keyframes bounce-14{35%{transform:translate(-41%,-46%)}}
@keyframes bounce-15{51%{transform:translate(-8%,-78%)}}
@keyframes bounce-16{35%{transform:translate(-96%,-75%)}}
@keyframes bounce-17{49%{transform:translate(-18%,-22%)}}
@keyframes bounce-18{56%{transform:translate(-98%,-54%)}}
@keyframes bounce-19{32%{transform:translate(-38%,-95%)}}
@keyframes bounce-20{57%{transform:translate(-47%,-69%)}}
@keyframes bounce-21{34%{transform:translate(-87%,-18%)}}
@keyframes bounce-22{34%{transform:translate(-50%,-98%)}}
@keyframes bounce-23{35%{transform:translate(-34%,-1%)}}
@keyframes bounce-24{58%{transform:translate(-41%,-86%)}}
@keyframes bounce-25{39%{transform:translate(-17%,-36%)}}
@keyframes bounce-26{32%{transform:translate(-71%,-72%)}}
@keyframes bounce-27{37%{transform:translate(-63%,-80%)}}
@keyframes bounce-28{60%{transform:translate(-47%,-89%)}}
@keyframes bounce-29{31%{transform:translate(-55%,-89%)}}
@keyframes bounce-30{50%{transform:translate(-61%,-61%)}}