.contact .box-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.contact .box-content .contact-left,
.contact .box-content .contact-right {
    width: 50%;
    height: 90%;
    color: var(--color_04);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.contact .box-content .contact-text {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.contact .box-content .text {
    font-size: 2.4rem;
    font-weight: 600;
}

.contact .box-content .contact-left p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-align: justify;
}

.contact .box-content .contact-left h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: justify;
}

.contact .box-content .contact-left .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 40px 0;
    gap: 30px;
}

.contact .box-content .contact-left .row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact .box-content .contact-left .row i {
    font-size: 2.6rem;
    color: var(--color_05);
}

.contact .box-content .contact-left .info {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contact .box-content .contact-left .info .head {
    font-size: 1.2rem;
    font-weight: 500;
}

.contact .box-content .contact-left .info .sub-title {
    font-size: 1rem;
    color: var(--color_04);
}

.contact .box-content .contact-right form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.contact .box-content .contact-right form .fields {
    width: 100%;
    display: flex;
    gap: 15px;
}

.contact .box-content .contact-right form .field,
.contact .box-content .contact-right form textarea {
    width: 100%;
}

.contact .box-content .contact-right form .textarea {
    height: 80px;
}

.contact .box-content .contact-right form input,
.contact .box-content .contact-right form textarea,
.contact .box-content .contact-right form .field input:focus,
.contact .box-content .contact-right form textarea:focus {
    background-color: var(--color_01_opacity);
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    font-size: 17px;
    color: var(--color_04);
    border: 2px solid var(--color_05);
    transition: border-color 0.3s ease;
    outline: none;
}

.contact .box-content .contact-right form input::placeholder,
.contact .box-content .contact-right form textarea::placeholder {
    font-weight: 500;
    color: var(--color_05);
}

.contact .box-content .contact-right form textarea {
    resize: none;
}

.contact .box-content .contact-right form button {
    background-color: var(--color_01_opacity);
    color: var(--color_05);
    font-size: 1.4rem;
    padding: 12px 24px;
    border-radius: 10px;
    border: 2px solid var(--color_05);
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.contact .box-content .contact-right button i {
    font-size: 2rem;
}

.contact .box-content .contact-right form button:hover {
    background: var(--color_05);
    color: var(--color_01);
}

.contact .box-content .my-form-status {    
    position: absolute;
    top: 30px;
    right: 5px;
    padding: 10px;
    display: block;
    max-width: 100%;
    font-size: 0.7rem;
    text-align: justify;
}

.contact .box-content .my-form-status .erro { 
    color: var(--erro);
}

.contact .box-content .my-form-status .sucess { 
    color: var(--sucess);
}

@media (max-width: 947px) {
    .contact .box-content{
        flex-direction: column;
    }
    .contact .box-content .contact-left,
    .contact .box-content .contact-right {
        width: 100%;
    }

    .contact .box-content .text {
        font-size: 2rem;
        font-weight: 600;
    }

    .contact .box-content .contact-left h3 {
        font-size: 1.4rem;
    }

    .contact .box-content .contact-right form .fields {
        flex-direction: column;
    }

    .contact .box-content .contact-right form button {
        width: 100%;
    }
}