.experience .box-container {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience .box-container .experience-top,
.experience .box-container .experience-bottom {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    width: 100%;
    height: 50%;
    gap: 20px;
}

.experience .experience-top .text{
    background-color: var(--color_01_opacity);
    padding: 20px;
    font-size: 1.3rem;
    font-size-adjust: none;
    line-height: 1.6rem;
    text-align: justify;
    text-indent: 30px;
    border-radius: 10px;
    color: var(--color_04); 
    box-shadow: 0 2px 6px var(--color_03_opacity);
}

.experience .box-container .experience-bottom {    
    justify-content: space-between;
    align-items: center;
}

.experience .experience-bottom .card {
    background: var(--color_01_opacity);
    width: 33.33%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px var(--color_03_opacity);
    transition: background-color 0.5s linear;
}

.experience .experience-bottom .card:hover {
    background-color: var(--color_05_opacity);
}

.experience .experience-bottom .card .box {
    width: 90%;
    height: 90%;
    padding: 20% 20px;
    color: var(--color_04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s linear;
}

.experience .experience-bottom .card:hover .box {
    color: var(--color_01);
    transform: scale(1.1);
}

.experience .experience-bottom .card i {
    font-size: 5rem;
    color: var(--color_05);
    transition: color 0.3s ease;
}

.experience .experience-bottom .card:hover i {
    color: var(--color_01);
}

.experience .experience-bottom .card .text {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
}

.experience .experience-bottom .card p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-wrap: wrap;
    font-weight: 400;
}