/* Import fonts and Icons */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* Resete */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, 
canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, 
fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, 
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, 
p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, 
tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section {
    display: block;
}

html,
body {
    min-height: 100vh;
    line-height: 1;   
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Standard colors */
:root {
    /* Solid colors */
    --color_01: #111111;
    --color_02: #222222;
    --color_03: #252525;
    --color_04: #f0f0f0;
    --color_05: #00d5ff;

    /* Excetion colors */
    --erro: #ff0000;
    --sucess: #008000;

    /* Opacity colors */
    --color_01_opacity: #111111cc;
    --color_02_opacity: #222222cc;
    --color_03_opacity: #252525cc;
    --color_04_opacity: #f0f0f0cc;
    --color_05_opacity: #00d5ffcc;
}

html {
    scroll-behavior: smooth;
}

html, body {
    scrollbar-color: var(--color_05) var(--color_03);
    scrollbar-gutter: 5px;
    scrollbar-width: thin;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color_03);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--color_05);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color_05_opacity);
}

body {
    background-color: var(--color_04_opacity);    
}

/* all similar content styling codes */
section {
    padding: 100px 0;
}

.max-width {
    max-width: calc(100% - 160px);
    padding: 0 80px;
    margin: auto;
}

.about, .experience, .skills, .teams, .contact, footer {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

.about .about-content,
.experience .exp-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 60px 0;
    padding: 0 0 20px 0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--color_04);
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: var(--color_05);
    padding: 0 5px;
    background: var(--color_04);
    transform: translateX(-50%);
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: var(--color_02_opacity);
    backdrop-filter: blur(1rem);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    height: 40px;
}

.navbar .menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}

.navbar .menu li a {
    display: flex;
    color: var(--color_04);
    font-size: 14px;
    font-weight: 300;
    padding: 20px;
    transition: all .1s ease .3s;
}

.navbar .menu li a:hover {
    color: var(--color_05);
}

.navbar.active .menu li a:hover {
    color: var(--color_05);
}

/* menu btn styling */
.menu-btn {
    color: var(--color_04);
    padding: auto 10px auto auto;
    font-size: 26px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
}

.scroll-up {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--color_05);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--color_04);
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up a {
    color: var(--color_04);
    text-decoration: none;
}

.scroll-up.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up:hover {
    filter: brightness(90%);
}

/* home section styling */
.home {    
    background: var(--color_01) url("../assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed; 
    background-origin: border-box;   
    color: var(--color_04);
    display: flex;
    height: 100vh;
    min-height: 500px;    
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: var(--color_05);
    font-weight: 500;    
}

.home .home-content a {
    display: inline-block;
    background: var(--color_05);
    color: var(--color_04);
    font-size: 1.4rem;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color_05);
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: var(--color_05);
    background: none;
}

/* social section styling */
.social {
    width: 35px;
    height: 190px;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 38%;
    z-index: 99;
}

.social .fa,
.social .fab {
    background-color: var(--color_03);
    width: 25px;
    font-size: 1.2rem;
    padding: 0.5rem;
    color: var(--color_05);
    text-align: center;
    text-decoration: none;
    margin: 0 0 1rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px var(--color_03_opacity);
    position: relative;
    float: left;
    transition: all 0.2s ease 0.1s;
}

.social .fa:last-child,
.social .fab:last-child {
    margin: 0 0 0 1rem;
}

.social .fa .tooltip,
.social .fab .tooltip {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    visibility: hidden;
    background-color: var(--color_03);
    color: var(--color_05);
    text-align: center;
    border-radius: 6px;
    padding: 0.7rem 0.8rem 0.6rem 0.8rem;
    position: absolute;
    width: max-content;
    top: 0;
    left: 120%;
    transition: all 0.2s ease 0.1s;
}

.social .fa .tooltip::after, 
.social .fab .tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -4px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--color_03) transparent transparent;
}

.social .fa:hover .tooltip,
.social .fab:hover .tooltip {
    color: var(--color_05);
    visibility: visible;
}

/* about section styling */
.about .title::after {
    content: "Quem sou!";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {    
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: var(--color_05);
}

.about .about-content .right p {
    text-align: justify;
    line-height: 125%;
    text-wrap: wrap;
    margin: 0 0 10px 0;
}

.about .about-content .right a {
    display: inline-block;
    background: var(--color_05);
    color: var(--color_04);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color_05);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: var(--color_05);
    background: none;
}

/* experience section styling */
.experience,
.teams {
    color: var(--color_04);
    background: var(--color_01);
}

.experience .title::before,
.teams .title::before {
    background: var(--color_04);
    padding: 0 15px;
}

.experience .title::after,
.teams .title::after {
    width: 100%;
    background: var(--color_01);
    content: "O que forneço!";
}

.experience .exp-content .card {
    width: calc(33% - 50px);
    background: var(--color_03);
    text-align: center;
    border-radius: 6px;
    padding: 100px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.experience .exp-content .card:hover {
    background: var(--color_05);
}

.experience .exp-content .card .box {
    transition: all 0.3s ease;
}

.experience .exp-content .card:hover .box {
    transform: scale(1.05);
}

.experience .exp-content .card i {
    font-size: 56px;
    color: var(--color_05);
    transition: color 0.3s ease;
}

.experience .exp-content .card:hover i {
    color: var(--color_04);
}

.experience .exp-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 30px 0 7px 0;
}

/* skills section styling */

.skills .title::after {
    content: "O que aprendi!";
}

.skills .skills-content .column {
    width: calc(50% - 50px);
    padding: 60px 10px;
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: var(--color_05);
    color: var(--color_04);
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color_05);
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: var(--color_05);
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: var(--color_04);
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color_05);
}

.skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .css::before {
    width: 90%;
}

.skills-content .right .js::before {
    width: 80%;
}

.skills-content .right .php::before {
    width: 70%;
}

.skills-content .right .react::before {
    width: 65%;
}

.skills-content .right .flutter::before {
    width: 50%;
}

.skills-content .right .mysql::before {
    width: 70%;
}

/* teams section styling */
.teams .title::after {
    content: "Quem está comigo!";
}

.teams .wrapper {
    width: 100%;
    position: relative;
}

.teams .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: var(--color_05);
    border-radius: 50%;
    box-shadow: 0 3px 6px var(--color_01_opacity);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.teams .wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.teams .wrapper i:first-child {
    left: -22px;
}

.teams .wrapper i:last-child {
    right: -22px;
}

.teams .wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.teams .carousel::-webkit-scrollbar {
    display: none;
}

.teams .carousel.no-transition {
    scroll-behavior: auto;
}

.teams .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.teams .carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.teams .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: var(--color_02);
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.teams .carousel .card:hover {
    background: var(--color_05);
}

.teams .carousel .card .img {
    background: var(--color_05);
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.teams .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}

.teams .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.teams .carousel .card span {
    color: var(--color_04);
    font-size: 1.21rem;
}

/* contact section styling */
.contact .title::after {
    width: 150px;
    content: "Contate-me!";
}

.contact .contact-content .column {
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact .contact-content .left p {
    width: 100%;
    padding: 0;
    text-wrap: wrap;
    text-align: justify;
    font-size: 16px;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 15px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: var(--color_05);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: var(--color_02);
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: calc(100% - 30px);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: var(--color_05);
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}

.right form .button-area button {
    color: var(--color_04);
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: var(--color_05);
    border-width: 2px;
    border-style: solid;
    border-color: var(--color_05);
    transition: all 0.3s ease;
}

.right form .button-area button:hover {
    color: var(--color_05);
    background: none;
}

.right .my-form-status {    
    width: max-content;
    height: auto; 
    padding: 10px;   
    display: block;
    position: absolute;
    top: 30px;
    right: 5px;
}

.right .my-form-status .erro { 
    color: var(--erro);
    text-align: justify;
    text-wrap: wrap;
    font-size: 0.7rem;
}

.right .my-form-status .sucess { 
    color: var(--sucess);
    text-align: justify;
    text-wrap: wrap;
    font-size: 0.7rem;
}

/* footer section styling */
footer {
    background: var(--color_01);
    padding: 15px 23px;
    color: var(--color_04);
    text-align: center;
}

footer .copy {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
    color: var(--color_04);
}

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .navbar .menu li a {
        display: block;
        color: var(--color_04);
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 0 12px;
        transition: color 0.3s ease;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .social {
        top: 25%;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: calc(100% - 40px);
        margin-bottom: 20px;
    }

    .contact .contact-content .info .sub-title {
        font-size: 14px;
        color: var(--color_02);
    }

    .teams .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media (max-width: 690px) {
    .navbar .menu {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--color_02_opacity);
        backdrop-filter: blur(1.5rem);
        transition: all .3s ease;
    }   

    .navbar .menu.active {
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: flex;
        font-size: 25px;
    }

    .menu-btn {
        font-size: 28px;
        display: flex;
        z-index: 999;
    }

    .active + .menu-btn:before {
        color: var(--color_05);
        content: "\f00d";
    }

    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .social {
        top: 22%;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .teams .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media (max-width: 500px) {
    .home {
        background: var(--color_02) url('../assets/images/banner-mobile.jpg');
        background-repeat: no-repeat;        
        background-position: right;
        background-size: cover;
    }

    .home .max-width {
        padding: 100px 15px 0 15px;
    }

    .home .home-content .text-1 {
        font-size: 20px;
        margin: 0 0 8px 0;
    }

    .home .home-content .text-2 {
        font-size: 42px;
    }

    .home .home-content .text-3 {
        font-size: 22px;
    }

    .social {
        position: absolute;
        top: 22%;
    }

    .social .fa:hover .tooltip,
    .social .fab:hover .tooltip {
        visibility: hidden;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .experience .exp-content .card {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .experience .exp-content .card:last-child {
        margin: 0;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .right form .error-box {
        width: 150px;
    }

    .scroll-up {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}