@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    height: auto;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    /* Solid colors */
    --color_01: #111111;
    --color_02: #222222;
    --color_03: #252525;
    --color_04: #f0f0f0;
    --color_05: #00d5ff;

    /* Excetion colors */
    --erro: #ff0000;
    --sucess: #008000;

    /* Opacity colors */
    --color_01_opacity: rgba(17, 17, 17, 0.8);
    --color_02_opacity: rgba(34, 34, 34, 0.8);
    --color_03_opacity: rgba(37, 37, 37, 0.8);
    --color_04_opacity: rgba(240, 240, 240, 0.8);
    --color_05_opacity: rgba(0, 213, 255, 0.8);
}

main {    
    width: 100%;
    height: calc(100dvh - 106px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header, main, footer {
    background-color: var(--color_01_opacity);
}

header, footer, .home, .about, .experience, .skills, .teams, .contact {    
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100%;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.column {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1104px) {
    .about .about-content  img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .navbar .menu li a {
        display: flex;
        padding: 10px 2px;
        color: var(--color_04);
        transition: color 0.3s ease;
    }

    .navbar .menu li a::after {
        height: 1px;
        padding: 5px 0;
    }

    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 25px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .social {
        top: 25%;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: calc(100% - 40px);
        margin-bottom: 20px;
    }

    .contact .contact-content .info .sub-title {
        font-size: 14px;
        color: var(--color_02);
    }

    .teams .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media (max-width: 690px) {
    .navbar .menu {
        display: none;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;        
        transition: all .4s ease;
    }   

    .navbar .active {        
        background-color: var(--color_02);
        backdrop-filter: blur(1rem);
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: flex;
        font-size: 25px;
    }

    .menu-btn {
        color: var(--color_04);
        padding: auto 10px auto auto;
        font-size: 28px;
        cursor: pointer;
        display: none;
        transition: all 0.3s ease;
        display: flex;
        z-index: 999;
    }

    .active + .menu-btn:before {
        font-size: 30px;
        color: var(--color_05);
        content: "\f00d";
    }    

    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .social {
        top: 22%;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .teams .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media (max-width: 500px) {
    .navbar .logo img {
        height: 40px;
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: 999;
    }

    .home {
        background: var(--color_02) url('../assets/images/banner-mobile.jpg');
        background-attachment: scroll;
        background-repeat: no-repeat;        
        background-position: right top;
        background-size: cover;
    }

    .home .home-content .text-1 {
        font-size: 20px;
        margin: 0 0 8px 0;
    }

    .home .home-content .text-2 {
        font-size: 42px;
    }

    .home .home-content .text-3 {
        font-size: 22px;
    }

    .social {
        position: absolute;
        top: 22%;
    }

    .social .fa:hover .tooltip,
    .social .fab:hover .tooltip {
        visibility: hidden;
    }

    .skills {
        width: 100%;
    }

    .skills .max-width {
        padding: 50px 0 0 0;
    }

    .experience .exp-content .card {
        width: 100%;
    }

    .experience .exp-content .card:last-child {
        margin: 0;
    }

    .skills .skills-content {
        flex-direction: column;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .right form .error-box {
        width: 150px;
    }

    .scroll-up {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}