@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    outline: none;
}

#root {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --background: #f0f0f0;
    --secondary-background: #f5f5f5;
    --background-radial: radial-gradient(circle, #f2f2f2 1%, #dde2e4 100%);
    --background-modal: #f2f2f233;
    --background-tootip: #222222;
    --logo: #00ccff;
    --foreground: #333333;
    --secondary-foreground: #666666;
    --foreground-tooltip: #f0f0f0;
    --border: #333333;
    --border-hover: #00ccff;
    --shadown: #33333311;
    --warning-bg: #ffe5e5;
    --warning-icon: #d8000c;
    --button: #00ccff;
    --button-cancel: #ff0066;
    --button-google: #ff4b4b;
    --button-facebook: #1877f2;
    --button-apple: #000000;
    --button-hover: #2ec2fc;
    --entries: #00ff00;
    --exits: #fb4545;
    --balance: #ffbf00;
    --success: #00C9A7;
    --erro: #D83121;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --background: #222222;
        --secondary-background: #333333;
        --background-radial: radial-gradient(circle, #222222 1%, #333333 100%);
        --background-modal: #22222233;
        --background-tooltip: #f2f2f2;
        --foreground: #f2f2f2;
        --secondary-foreground: #e4e4e4;
        --foreground-tooltip: #222222;
        --border: #444444;
        --border-hover: #00ccff;
        --shadown: #f2f2f211;
        --warning-bg: #222222;
    }
}

header, footer {
    background-color: var(--background);
    width: 100%;
    padding: 10px 20px;
}

main {
    background-color: var(--background);
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home, .about, .experience, .skills, .teams, .contact {    
    width: 90%;
    height: 100%;
}