@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    outline: none;
}

#root {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

:root {
    /* Solid colors */
    --color_01: #111111;
    --color_02: #222222;
    --color_03: #252525;
    --color_04: #f0f0f0;
    --color_05: #00d5ff;

    /* Excetion colors */
    --erro: #ff0000;
    --sucess: #008000;

    /* Opacity colors */
    --color_01_opacity: rgba(17, 17, 17, 0.8);
    --color_02_opacity: rgba(34, 34, 34, 0.8);
    --color_03_opacity: rgba(37, 37, 37, 0.8);
    --color_04_opacity: rgba(240, 240, 240, 0.8);
    --color_05_opacity: rgba(0, 213, 255, 0.8);
}

header, footer {
    background-color: var(--color_01_opacity);
    width: 100%;
    padding: 10px 20px;
}

main {
    background-color: var(--color_01_opacity);
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home, .about, .experience, .skills, .teams, .contact {    
    width: 90%;
    height: 100%;
}