
.social {
    width: fit-content;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
    position: absolute;
    left: 30px;
    bottom: 60px;
    z-index: 11;
}

.social a {
    background-color: var(--color_02);
    width: 50px;
    height: auto;
    font-size: 2.1rem;
    padding: 0.6rem;
    color: var(--color_05);
    text-align: center;
    text-decoration: none;
    margin: 0;
    outline: none;
    border: 1px solid var(--color_03);
    border-radius: 10px;
    position: relative;
    float: left;
    transition: all 0.2s ease 0.1s;
}

.social a .tooltip {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    visibility: hidden;
    background-color: var(--color_03);
    color: var(--color_04);
    text-align: center;
    border-radius: 10px;
    padding: 0.7rem 0.8rem 0.6rem 0.8rem;
    position: absolute;
    width: max-content;
    bottom: 120%;
    left: 0;
    transition: all 0.2s ease 0.1s;
}

.social a .tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 40%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color_03) transparent transparent transparent;
}

.social a:hover .tooltip {
    color: var(--color_04);
    visibility: visible;
}

@media (max-width: 947px) {
    .social {
        position: fixed;
        height: 30px;
        left: inherit;
        right: 10px;
        bottom: 20px;
    }

    .social a {
        font-size: 3vw;
        width: 30px;
    }

    .social a .tooltip {
        font-size: 3vw;
    }
}